:root{

    --primary-color-100: yellow;
    --primary-color-400: orange;
    --primary-color-600: darkorange;

    
}

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: #2b2b2b; /* dark grey */
    color: #e6e6e6;
}